[submodule "Packages/DungeonsAndDungeonsCommon"]
	path = Packages/DungeonsAndDungeonsCommon
	url = https://github.com/Mineorbit/DungeonsAndDungeonsCommon
[submodule "Packages/--force"]
	path = Packages/--force
	url = https://github.com/Mineorbit/DungeonsAndDungeonsCommon
